html {
	font-family: "Helvetica Neue";
	color: #333333;
}

header {
	text-align: center;
	margin: 0 auto;
}

.header_left {
	float: left;
}

.logo {
	width: 80px;
	height: 31px;
	margin-top: 15px;
}

.header_center {
	width: 200px;
	display: inline;
}

.header_center img {
	height: 32px;
	width: 32px;
}

.header_right {
	float: right;
}

.roundContainer {
	margin-right: 10px;
	margin-top: 15px;
	font-size: 14px;
	display: inline-block;
	height: 35px;
	border-radius: 30px;
	line-height: 35px;
	padding-left: 20px;
}

.search {
	color: #BBBBBB;
	border: 1px solid #BBBBBB;
	width: 175px;
}

.signup {
	color: #02b875;
	border: 1px solid #02b875;
	width: 120px;
}

img.avatar {
	display: inline-block;
 	border-radius: 100%;
 	height: 36px;
 	width: 36px;
}

h1 {
	margin-top: 40px;
	font-size: 48px;
	font-weight: bold;
}

.container {
	width: 700px;
	margin: 0 auto;
	clear: both;
	padding-top: 20px;
}

.container p {
	line-height: 1.4em;
	font-size: 20px;
	margin-top: 30px;
	font-weight: 300;
}


